*{
    margin: 0%;
    padding: 0%;
}

.container{
    background:#FEDE90;
    width:96% ;
    height:100vh ;
    padding-top: 2%;
    padding-left: 4%;
    display: flex;
}
.conteiner-inside{
    width: 96%;
    height: 95vh;
    background-color: white;
    border: solid white;
    border-radius: 20px 20px ;
}
.header{
    display: flex;
    width: 95%;
    height: 100px;
    border: none;
    border-bottom: solid #F6F6F6;
    border-width: 1px;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
    padding-top: 30px;
    margin-left: 25px;
}
.header-logo{
    padding-top: 10px;
    padding-left: 20px;
}
.button-main{
    color:#FC5D2A ;
    width: 100px;
    height: 10px;
    background-color: white;
    
}
.button-black{
    color: #000;
    width: 130px;
    height: 45px;
    background-color: #FC5D2A;
    border-radius: 40px 40px;
    margin-top: 7%;
}
.header-button{
    margin-left: 68%;
}
.button-space{
    color: white;
    display: flex;
    padding-top: 12px;
    padding-left: 23px;
    font-size: 17px;
    
}
.button-left-side{
    border: none;
    border-right: solid white;
    border-width: 1px;
    padding-right: 10px;
}
.button-right-side{
    padding-left: 10px;
}



.header-bar{
    height: 100px;
    display: flex;
    margin-top: 50px;
    align-items: flex-start;
    justify-content: space-around;
}





.button-type{
    margin-left: 10px ;
    padding: 15px 18px;
    align-items:center;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 30px;
}

.header-buttons-bar {
    display: flex;
    margin-right: 33%;
}
.header-filter-bar{
    display: flex;
    padding-right:5% ;
    padding-top: 10px;
    height: 157px;
}
.clicked-button-black{
    padding: 15px 18px;
    align-items:center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 30px;
}

.menu-name{
    margin-left: 65px;
    width: 166px;
    height: 39px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    
}
.menu{
    text-align: center ;
    margin-left: 4%;
    margin-top: 35px;
    width: 280px;
    height: 400px;
    
}
.menu-pizzas-name{
    
   padding-bottom:35px;
}
.menu-pizzas-name p{
    width: 280px;
    height: 24px;
    font-family: Proxima Nova;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
}





.menu-info-bar{
    color: #2C2C2C;
    width: 280px;
    height: 85px;
    background-color: #F3F3F3;
    border: none;
    border-radius: 10px;
    
}

.menu-info-bar-top{
    padding:7px;
    display: flex;
    align-items: center;
}

.menu-info-bar-bottom{
    padding-left: 7px;
    display: flex;
   
}

.clicked-button-size{
    width: 86px;
    height: 32px;
    background-color: white;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-size{
    width: 86px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked-button-white{
    width:131px;
    height: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-grey{
    width:131px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

/* .middle-staff-info-bar-in{
       
} */

.filters{
    width: 132px;
    height: 112px;
    padding: 6px;
    border: none;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-left: -30px;
    position: fixed;
}

.filterNone{
    opacity: 0;
    
}

.is-active{
    width: 132px;
    height: 38px;
    background-color:rgba(254, 95, 30, 0.05);;
    color:#FE5F1E;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.non-active{
    width: 132px;
    height: 38px;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.menu-images{
    width: 260px;
    height: 260px;
}

.pizza-componets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 5%;
}

